* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

li {
    display: inline;
    margin: 20px 10px;
}

a {
    text-decoration: none;
}

a:link {
    color: blue;
}
a:visited {
    color: dimgray;
}
a:hover{
    color: red;
}

#btn_change_flag{
    margin: 20px 10px 10px 10px;
}

#img_flag1, #img_flag2, #desc_flag1, #div_flag2 {
    margin: 10px;
}

.underline{
    color: red;
    text-decoration: underline;
}

#p1{
    width: 300px;
    height: 60px;
    margin: 10px auto;
    text-align: center;
    font-weight: bold;
    font-style: italic;
    text-decoration: line-through;
    background-color: aquamarine;
}

.drop-zone {
    width: 300px;
    padding: 20px;
    border: 2px dashed #000;
}

.box {
    width: 200px;
    height: 200px;
}

.red {
    background-color: red;
}

[data-drop-target] {
    height: 400px;
    width: 200px;
    margin: 2px;
    background-color: gainsboro;
    float: left;
}

.drag-enter {
    border: 2px dashed #000;
}

.navy {
    background-color: navy;
}